# Creating Categorical Variables from the Continous Data

In [366]:
# Import libraries
import numpy as np      
import pandas as pd    
from IPython.display import display
import matplotlib.pyplot as plt
import random
from scipy.stats.mstats import winsorize
from IPython.display import display

In [367]:
# Read in the data 
filename = '../CleanedData/59HydroCleaned.csv'
all_data = pd.read_csv(filename)      
print(f"{filename} : file read into a pandas dataframe.")

../CleanedData/59HydroCleaned.csv : file read into a pandas dataframe.

In [368]:
# Display the Data 
display(all_data)

,Precip (in),Max Air Temp (F),Min Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Wind Speed (mph),Consumption_t1,Consumption_t2,Consumption_t7,Consumption_t14,Consumption_t21,Consumption
0,0.00,86.7,56.7,78,29,2.9,38560.507010,37461.469088,39095.214543,37070.911166,45154.136101,33447.871167
1,0.00,86.6,53.4,87,33,2.8,33447.871167,38560.507010,37109.061816,44462.487270,41896.519478,39730.310647
2,0.00,80.2,55.8,98,44,3.4,39730.310647,33447.871167,31647.310128,32043.777660,43557.942854,27471.609349
3,0.00,76.3,58.1,88,49,3.8,27471.609349,39730.310647,37911.197919,37050.638958,44392.020776,37831.455582
4,0.00,74.7,59.7,84,49,3.5,37831.455582,27471.609349,38865.338179,36813.581296,49194.663893,29745.313245
...,...,...,...,...,...,...,...,...,...,...,...,...
540,0.01,67.3,43.3,91,10,7.9,23737.109609,19800.187012,22851.191687,21486.146492,25498.023894,20583.995843
541,0.01,71.6,36.5,55,13,4.1,20583.995843,23737.109609,22189.614544,16300.650388,22880.440518,21573.219739
542,0.04,73.5,42.1,65,20,4.1,21573.219739,20583.995843,26781.082596,20565.219739,28621.514803,29125.776621
543,0.05,74.0,43.7,76,30,3.9,29125.776621,21573.219739,22284.018700,20717.298700,26626.235842,27656.153764
544,0.04,67.9,47.2,85,47,4.8,27656.153764,29125.776621,25643.669609,20166.657661,28249.957401,27437.947011

In [369]:
# Get the Max, Min, Mean, and Median 
max_val = all_data['Consumption'].max()
print(max_val)
print(all_data['Consumption'].min())
print(all_data['Consumption'].mean())
print(all_data['Consumption'].median())

49669.7516848624
5789.323635961599
26898.472534769724
26445.057660501207

## Now we cut the Consumption data into categories/bins

In [370]:
def create_consumption_bins(max, bin_size):
    """
    This function creates a list of consumption data bin values
    """
    bins_list = []

    val = 0

    while val <= (max+bin_size):
        bins_list += [val]
        val += bin_size
    
    return bins_list

In [371]:
# Create the bins list 
bin_list = create_consumption_bins(max_val, 5000)
bin_list_len = len(bin_list)
print(bin_list_len)

11

In [372]:
classnames = []

for num in range(bin_list_len):
    classnames += [str(num)]

print(classnames)

['0', '1', '2', '3', '4', '5', '6', '7', '8', '9', '10']

In [373]:
# use Cut to create the consumption data bins

consumption_categories = pd.cut(all_data.Consumption, bins = bin_list, labels = bin_list[1:] )
print(consumption_categories)
all_data.insert(0, "consumption", consumption_categories)

consumption_categories2 = pd.cut(all_data.Consumption_t1, bins = bin_list, labels = bin_list[1:] )
print(consumption_categories)
all_data.insert(0, "t1", consumption_categories)

consumption_categories3 = pd.cut(all_data.Consumption_t2, bins = bin_list, labels = bin_list[1:] )
print(consumption_categories)
all_data.insert(0, "t2", consumption_categories)

consumption_categories4 = pd.cut(all_data.Consumption_t7, bins = bin_list, labels = bin_list[1:] )
print(consumption_categories)
all_data.insert(0, "t7", consumption_categories)

consumption_categories5 = pd.cut(all_data.Consumption_t14, bins = bin_list, labels = bin_list[1:] )
print(consumption_categories)
all_data.insert(0, "t14", consumption_categories)

consumption_categories6 = pd.cut(all_data.Consumption_t21, bins = bin_list, labels = bin_list[1:] )
print(consumption_categories)
all_data.insert(0, "t21", consumption_categories)

0      35000
1      40000
2      30000
3      40000
4      30000
       ...
540    25000
541    25000
542    30000
543    30000
544    30000
Name: Consumption, Length: 545, dtype: category
Categories (10, int64): [5000 < 10000 < 15000 < 20000 ... 35000 < 40000 < 45000 < 50000]
0      35000
1      40000
2      30000
3      40000
4      30000
       ...
540    25000
541    25000
542    30000
543    30000
544    30000
Name: Consumption, Length: 545, dtype: category
Categories (10, int64): [5000 < 10000 < 15000 < 20000 ... 35000 < 40000 < 45000 < 50000]
0      35000
1      40000
2      30000
3      40000
4      30000
       ...
540    25000
541    25000
542    30000
543    30000
544    30000
Name: Consumption, Length: 545, dtype: category
Categories (10, int64): [5000 < 10000 < 15000 < 20000 ... 35000 < 40000 < 45000 < 50000]
0      35000
1      40000
2      30000
3      40000
4      30000
       ...
540    25000
541    25000
542    30000
543    30000
544    30000
Name: Consumption, Length: 545, dtype: category
Categories (10, int64): [5000 < 10000 < 15000 < 20000 ... 35000 < 40000 < 45000 < 50000]
0      35000
1      40000
2      30000
3      40000
4      30000
       ...
540    25000
541    25000
542    30000
543    30000
544    30000
Name: Consumption, Length: 545, dtype: category
Categories (10, int64): [5000 < 10000 < 15000 < 20000 ... 35000 < 40000 < 45000 < 50000]
0      35000
1      40000
2      30000
3      40000
4      30000
       ...
540    25000
541    25000
542    30000
543    30000
544    30000
Name: Consumption, Length: 545, dtype: category
Categories (10, int64): [5000 < 10000 < 15000 < 20000 ... 35000 < 40000 < 45000 < 50000]

In [374]:
display(all_data)

,t21,t14,t7,t2,t1,consumption,Precip (in),Max Air Temp (F),Min Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Wind Speed (mph),Consumption_t1,Consumption_t2,Consumption_t7,Consumption_t14,Consumption_t21,Consumption
0,35000,35000,35000,35000,35000,35000,0.00,86.7,56.7,78,29,2.9,38560.507010,37461.469088,39095.214543,37070.911166,45154.136101,33447.871167
1,40000,40000,40000,40000,40000,40000,0.00,86.6,53.4,87,33,2.8,33447.871167,38560.507010,37109.061816,44462.487270,41896.519478,39730.310647
2,30000,30000,30000,30000,30000,30000,0.00,80.2,55.8,98,44,3.4,39730.310647,33447.871167,31647.310128,32043.777660,43557.942854,27471.609349
3,40000,40000,40000,40000,40000,40000,0.00,76.3,58.1,88,49,3.8,27471.609349,39730.310647,37911.197919,37050.638958,44392.020776,37831.455582
4,30000,30000,30000,30000,30000,30000,0.00,74.7,59.7,84,49,3.5,37831.455582,27471.609349,38865.338179,36813.581296,49194.663893,29745.313245
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,25000,25000,25000,25000,25000,25000,0.01,67.3,43.3,91,10,7.9,23737.109609,19800.187012,22851.191687,21486.146492,25498.023894,20583.995843
541,25000,25000,25000,25000,25000,25000,0.01,71.6,36.5,55,13,4.1,20583.995843,23737.109609,22189.614544,16300.650388,22880.440518,21573.219739
542,30000,30000,30000,30000,30000,30000,0.04,73.5,42.1,65,20,4.1,21573.219739,20583.995843,26781.082596,20565.219739,28621.514803,29125.776621
543,30000,30000,30000,30000,30000,30000,0.05,74.0,43.7,76,30,3.9,29125.776621,21573.219739,22284.018700,20717.298700,26626.235842,27656.153764
544,30000,30000,30000,30000,30000,30000,0.04,67.9,47.2,85,47,4.8,27656.153764,29125.776621,25643.669609,20166.657661,28249.957401,27437.947011

In [375]:

all_data = all_data.drop(["Consumption", "Consumption_t1", "Consumption_t2", "Consumption_t7", "Consumption_t14", "Consumption_t21"], axis = 1)
display(all_data)

,t21,t14,t7,t2,t1,consumption,Precip (in),Max Air Temp (F),Min Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Wind Speed (mph)
0,35000,35000,35000,35000,35000,35000,0.00,86.7,56.7,78,29,2.9
1,40000,40000,40000,40000,40000,40000,0.00,86.6,53.4,87,33,2.8
2,30000,30000,30000,30000,30000,30000,0.00,80.2,55.8,98,44,3.4
3,40000,40000,40000,40000,40000,40000,0.00,76.3,58.1,88,49,3.8
4,30000,30000,30000,30000,30000,30000,0.00,74.7,59.7,84,49,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...
540,25000,25000,25000,25000,25000,25000,0.01,67.3,43.3,91,10,7.9
541,25000,25000,25000,25000,25000,25000,0.01,71.6,36.5,55,13,4.1
542,30000,30000,30000,30000,30000,30000,0.04,73.5,42.1,65,20,4.1
543,30000,30000,30000,30000,30000,30000,0.05,74.0,43.7,76,30,3.9
544,30000,30000,30000,30000,30000,30000,0.04,67.9,47.2,85,47,4.8

In [376]:
# Move the consumption column to the end of the data frame 
df1 = all_data.pop('consumption') 
all_data['consumption']= df1 

display(all_data)

,t21,t14,t7,t2,t1,Precip (in),Max Air Temp (F),Min Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Wind Speed (mph),consumption
0,35000,35000,35000,35000,35000,0.00,86.7,56.7,78,29,2.9,35000
1,40000,40000,40000,40000,40000,0.00,86.6,53.4,87,33,2.8,40000
2,30000,30000,30000,30000,30000,0.00,80.2,55.8,98,44,3.4,30000
3,40000,40000,40000,40000,40000,0.00,76.3,58.1,88,49,3.8,40000
4,30000,30000,30000,30000,30000,0.00,74.7,59.7,84,49,3.5,30000
...,...,...,...,...,...,...,...,...,...,...,...,...
540,25000,25000,25000,25000,25000,0.01,67.3,43.3,91,10,7.9,25000
541,25000,25000,25000,25000,25000,0.01,71.6,36.5,55,13,4.1,25000
542,30000,30000,30000,30000,30000,0.04,73.5,42.1,65,20,4.1,30000
543,30000,30000,30000,30000,30000,0.05,74.0,43.7,76,30,3.9,30000
544,30000,30000,30000,30000,30000,0.04,67.9,47.2,85,47,4.8,30000

In [377]:
# Turn type categories into ints
all_data["Consumption"] = all_data['consumption'].cat.codes
all_data["T1"] = all_data['t1'].cat.codes
all_data["T2"] = all_data['t2'].cat.codes
all_data["T7"] = all_data['t7'].cat.codes
all_data["T14"] = all_data['t14'].cat.codes
all_data["T21"] = all_data['t21'].cat.codes
display(all_data)

,t21,t14,t7,t2,t1,Precip (in),Max Air Temp (F),Min Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Wind Speed (mph),consumption,Consumption,T1,T2,T7,T14,T21
0,35000,35000,35000,35000,35000,0.00,86.7,56.7,78,29,2.9,35000,6,6,6,6,6,6
1,40000,40000,40000,40000,40000,0.00,86.6,53.4,87,33,2.8,40000,7,7,7,7,7,7
2,30000,30000,30000,30000,30000,0.00,80.2,55.8,98,44,3.4,30000,5,5,5,5,5,5
3,40000,40000,40000,40000,40000,0.00,76.3,58.1,88,49,3.8,40000,7,7,7,7,7,7
4,30000,30000,30000,30000,30000,0.00,74.7,59.7,84,49,3.5,30000,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
540,25000,25000,25000,25000,25000,0.01,67.3,43.3,91,10,7.9,25000,4,4,4,4,4,4
541,25000,25000,25000,25000,25000,0.01,71.6,36.5,55,13,4.1,25000,4,4,4,4,4,4
542,30000,30000,30000,30000,30000,0.04,73.5,42.1,65,20,4.1,30000,5,5,5,5,5,5
543,30000,30000,30000,30000,30000,0.05,74.0,43.7,76,30,3.9,30000,5,5,5,5,5,5
544,30000,30000,30000,30000,30000,0.04,67.9,47.2,85,47,4.8,30000,5,5,5,5,5,5

In [378]:
all_data = all_data.drop(["consumption", "t1", "t2", "t7", "t14", "t21"], axis = 1)
display(all_data)

,Precip (in),Max Air Temp (F),Min Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Wind Speed (mph),Consumption,T1,T2,T7,T14,T21
0,0.00,86.7,56.7,78,29,2.9,6,6,6,6,6,6
1,0.00,86.6,53.4,87,33,2.8,7,7,7,7,7,7
2,0.00,80.2,55.8,98,44,3.4,5,5,5,5,5,5
3,0.00,76.3,58.1,88,49,3.8,7,7,7,7,7,7
4,0.00,74.7,59.7,84,49,3.5,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...
540,0.01,67.3,43.3,91,10,7.9,4,4,4,4,4,4
541,0.01,71.6,36.5,55,13,4.1,4,4,4,4,4,4
542,0.04,73.5,42.1,65,20,4.1,5,5,5,5,5,5
543,0.05,74.0,43.7,76,30,3.9,5,5,5,5,5,5
544,0.04,67.9,47.2,85,47,4.8,5,5,5,5,5,5

In [379]:
# Move the consumption column to the end of the data frame 
df1 = all_data.pop('Consumption') 
all_data['Consumption']= df1 
display(all_data)

,Precip (in),Max Air Temp (F),Min Air Temp (F),Max Rel Hum (%),Min Rel Hum (%),Avg Wind Speed (mph),T1,T2,T7,T14,T21,Consumption
0,0.00,86.7,56.7,78,29,2.9,6,6,6,6,6,6
1,0.00,86.6,53.4,87,33,2.8,7,7,7,7,7,7
2,0.00,80.2,55.8,98,44,3.4,5,5,5,5,5,5
3,0.00,76.3,58.1,88,49,3.8,7,7,7,7,7,7
4,0.00,74.7,59.7,84,49,3.5,5,5,5,5,5,5
...,...,...,...,...,...,...,...,...,...,...,...,...
540,0.01,67.3,43.3,91,10,7.9,4,4,4,4,4,4
541,0.01,71.6,36.5,55,13,4.1,4,4,4,4,4,4
542,0.04,73.5,42.1,65,20,4.1,5,5,5,5,5,5
543,0.05,74.0,43.7,76,30,3.9,5,5,5,5,5,5
544,0.04,67.9,47.2,85,47,4.8,5,5,5,5,5,5

# Save the New Cleaned Data

In [380]:
# Save the new Cleaned Data 
all_data.to_csv("59HydroCat.csv", index_label=False)